craft-employee-managment-api-project/src/main/mule/employee-management-api-project.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="employee-management-api-project-httpListenerConfig">
        <http:listener-connection host="${secure::http.host}" port="${secure::http.port}" />
    </http:listener-config>
    <apikit:config name="employee-management-api-project-config" api="employee-management-api-project.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="4c199ae5-6e21-49c3-b77a-c1805ea13e99" >
		<db:my-sql-connection host="${secure::db.host}" port="${secure::db.port}" user="${secure::db.user}" password="${secure::db.password}" database="${secure::db.database}" />
	</db:config>
	<configuration-properties doc:name="Configuration properties" doc:id="6f718183-3e1a-4140-bdbc-941f2994e7eb" file="dev-secure.yaml" />
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="7974d5db-60c7-4a35-80ca-cea5b7faa9f6" file="dev-secure.yaml" key="mulesoft" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="employee-management-api-project-main">
        <http:listener config-ref="employee-management-api-project-httpListenerConfig" path="${secure::http.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="employee-management-api-project-config" />
        <error-handler ref="global-error-handlerError_Handler">
            
        </error-handler>
    </flow>
    <flow name="employee-management-api-project-console">
        <http:listener config-ref="employee-management-api-project-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="employee-management-api-project-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\employees\(emp-id):employee-management-api-project-config">
		<flow-ref doc:name="Flow Reference" doc:id="4e3a09ef-98d8-4ae1-b898-a5c02c60f697" name="implement-update-employee-By-IdSub_Flow"/>
        
    </flow>
    <flow name="delete:\employees\(emp-id):employee-management-api-project-config">
		<flow-ref doc:name="Flow Reference" doc:id="82345f91-f4fd-4c2f-aeb5-a5ee903e8910" name="implement-delete-employee-By-IdSub_Flow"/>
        
    </flow>
    <flow name="get:\employees:employee-management-api-project-config">
		<flow-ref doc:name="Flow Reference" doc:id="a5a5564a-2e9b-470a-b14e-8a694037f1c7" name="implement-get-employeesSub_Flow"/>
        
    </flow>
    <flow name="get:\employees\(emp-id):employee-management-api-project-config">
		<flow-ref doc:name="Flow Reference" doc:id="b47bc7db-457d-4f6e-94d3-582ddf191a49" name="implement-get-employee-By-IdSub_Flow"/>
        
    </flow>
	<flow name="post:\employees:employee-management-api-project-config">
		<flow-ref doc:name="Flow Reference" doc:id="8a3941df-ef97-4071-82f6-678d606b0abf" name="implement-post-employeesSub_Flow"/>
		
    </flow>
</mule>
